<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Geneo_student/src/Package_Geneo_student/multiple_login_Logout.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Package_Geneo_student.multiple_login_Logout"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Geneo_student"/>
</launchConfiguration>
